.main_box {
}

.info {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 400px;
  font-size: 13mm;
  margin-bottom: 0;
}

.box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0 300px 300px 300px;
}

.image {
  width: 400px;
  height: 400px;
  display: flex;
}

.login_box {
  width: 400px;
  height: 500px;
  margin-top: 70px;
}

#login-form {
  display: flex;
  flex-direction: column;
  justify-items: space-evenly;
  margin: 20px 30px;
  border: grey;
}

#login-form input {
  border: none;
  padding: 15px 0px;
  font-size: 18px;
  margin-bottom: 15px;
}

#login-form input:not([type="submit"]) {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  transition: border-color 0.3s ease-in-out;
}

#login-form input:focus {
  border-color: rgb(140, 195, 226);
}

#login-form input[type="submit"] {
  background-color: rgb(140, 195, 226);
  cursor: pointer;
  padding: 20px 0px;
  border-radius: 5px;
}

.programmar {
  text-align: center;
}
