.main-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -300px 0px 0px -170px;
}

.title-box {
  font-family: "Lobster", cursive;
  font-size: 64px;
  margin: 12px 0px;
}
.title-span {
  margin-right: 0.1px;
}
.title-box span:first-child {
  color: #ccccff;
}
.title-box span:nth-child(2) {
  color: #ffbf00;
}
.title-box span:last-child {
  color: #9fe2bf;
}

.login-box {
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 20px;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-top: 40px;
}

.login-form input {
  width: 250px;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

.login-form .login-button {
  width: 274px;
  border: none;
  background-color: var(--fiyfi-blue);
  color: white;
}

.login-form input:focus {
  outline: none;
}

.login-form input:last-child:hover {
  cursor: pointer;
  background-color: var(--fiyfi-blue__selected);
}

.sign-up {
  width: 298px;
  margin: 10px 0px;
  margin-bottom: 20px;
  padding: 20px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 5px;

  text-align: center;
  font-size: 13.5px;
}

.sign-up__btn {
  color: var(--fiyfi-blue);
  font-weight: bold;
  text-decoration: none;
}

.sign-up__btn:hover {
  color: var(--fiyfi-blue__selected);
}

.login-items {
  margin-top: 15px;
  align-items: center;
  text-align: center;
}
.login-items p {
  margin-bottom: 12px;
  color: #333333;
}
.login-item {
  width: 274px;
  height: 40px;
  margin: 2px 0px;
}
.sns-title {
  font-family: "Acme", sans-serif;
  opacity: 0.5;
}
.naver-login {
  width: 274px;
  height: 40px;
  border-radius: 5px;
  display: flex;
  background-color: #1ec800;
  /* 원래 네이버 색
   #1EC800 */
}
#naverIdLogin_loginButton {
  width: 274px;
  height: 40px;
  text-align: center;
}
.naver-login div {
  color: #ffffff;
  font-weight: bold;
  line-height: 40px;
  margin-left: 35px;
}
.kakao-login {
  width: 274px;
  height: 40px;
  border-radius: 5px;
  display: flex;
  background-color: #fee500;
}
.kakao-login div {
  color: rgba(0, 0, 0, 0.6);
  font-weight: bold;
  line-height: 40px;
  margin-left: 35px;
}
.google-login {
  width: 271px;
  height: 40px;
  border-radius: 5px;
  display: flex;
  background-color: #ffffff;
  border: 0.8px solid rgba(0, 0, 0, 0.2);
}
.google-login div {
  color: rgba(0, 0, 0, 0.5);
  font-weight: bold;
  line-height: 40px;
  margin-left: 35px;
}
.google-logo-img,
.kakao-logo-img,
.naver-logo-img {
  justify-content: left;
  width: 40px;
  height: 40px;
  border-radius: 5px;
}
.sns-login {
  margin: 5px;
  position: relative;
}

.sns-login:hover {
  cursor: pointer;
}

.sns-login__comp {
  position: absolute;
  top: 2px;
  left: 45px;
}

.find-user-info {
  margin-top: 5px;
  opacity: 0.5;
}
