.body {
  height: 100%;
}

.main-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  top: 30%;
  bottom: 40%;
}

.title-box {
  font-family: "Lobster", cursive;
  font-size: 64px;
  margin: 12px 0px;
}

.title-box span:first-child {
  color: #ccccff;
}
.title-box span:nth-child(2) {
  color: #ffbf00;
}
.title-box span:last-child {
  color: #9fe2bf;
}

.login-box {
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 20px;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-top: 40px;
}

.login-form input {
  width: 250px;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

.login-form .login-button {
  width: 274px;
  border: none;
  background-color: #6495ed;
  color: white;
}

.sign-up {
  width: 298px;
  margin: 10px 0px;
  margin-bottom: 20px;
  padding: 20px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 5px;

  text-align: center;
  font-size: 13.5px;
}

.sign-up__btn {
  color: #6495ed;
  font-weight: bold;
}
