.wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -320px 0px 0px -300px;
}

.mysize-input {
  padding: 10px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mysize-input:nth-child(2) {
  padding: 0px;
  margin-top: 0px;
}

.mySizeImg {
  height: 250px;
  width: 250px;
}

.muscle-size {
  margin: 25px 0px;
  width: 600px;
}

.title-info {
  margin-bottom: 10px;
  font-family: "Lobster", cursive;
  font-size: 18px;
}

.body-img {
  height: 150px;
  width: 150px;
  border: 3px solid black;
  border-radius: 75px;
  display: flex;
  justify-content: space-between;
}

.shape {
  position: relative;
  top: 10px;
}

.body-img__div {
  text-align: center;
  display: block;
}

.body-type {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin: 13px 10px;
}

@keyframes chcolor {
  from {
    border-color: black;
  }
  to {
    border-color: rosybrown;
  }
}

.body-img__div:hover img {
  animation: chcolor .3s forwards;
}

.input {
  padding: 5px 0;
}

.my-len,
.my-height {
  margin-right: 31px;
}

.chose-body-type {
  font-size: 24px;
}

.move-to-search {
  color: white;
  background-color: #6495ed;
  border: none;
  border-radius: 5px;

  display: block;
  width: 70px;
  height: 30px;
  padding: 5px;
  margin-top: 20px;
}

.move-to-search:focus {
  outline: none;
}